#base {
	background-color:#b6c5d6;
	width:550px;
	height:550px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}

#firstrow {
	height:50px;
	width:550px;
}

#secondrow {
	height:50px;
	width:500px;
}

#thirdrow {
	height:100px;
	
}

#fourthrow {
	
	
}

#finalrow {
	height:400px;
}

#box1 {
	height:50px;
	width:140px;
	background-color:#b6c5d6;
	float:left;
	border-style:solid;
	border-width:0px 10px 10px 0px;

}

#box2 {
	height:50px;
	width:170px;
	background-color:#f2f2f2;
	float:left;
	border-style:solid;
	border-width:0px 10px 10px 0px;

}

#box3 {
	height:50px;
	width:160px;
	background-color:#f79227;
	float:left;
	border-style:solid;
	border-width:0px 10px 10px 0px;

}

#box4 {
	height:200px;
	width:50px;
	background-color:#f2f2f2;
	float:left;
	border-style:solid;
	border-width:0px 0px 10px 0px;

}

#redbox {
	height:260px;
	width:260px;
	background-color:red;
	float:left;
	border-style:solid;
	border-width:0px 10px 10px 10px;
}

#box5 {
	height:140px;
	width:160px;
	background-color:#f79227;
	float:left;
	border-style:solid;
	border-width:0px 10px 10px 0px;
}

#box7 {
	height:110px;
	width:75px;
	background-color:#f2f2f2;
	float:right;
	border-style:solid;
	border-width:0px 10px 10px 0px;
	
	
}

#box8 {
	height:110px;
	width:75px;
	background-color:#f2f2f2;
	float:right;
	border-style:solid;
	border-width:0px 10px 10px 0px;

	
}

#box9 {
	height:350px;
	width:50px;
	background-color:#b6c5d6;
	float:left:;
	border-style:solid;
	border-width:10px 10px 10px 0px;

}

#box10 {
	height:130px;
	width:150px;
	background-color:black;
	float:left;
	border-style:solid;
	border-width:0px 10px 10px 0px;
	margin-left:50px;

}

#box11 {
	height:60px;
	width:110px;
	background-color:#b6c5d6;
	float:left;
	border-style:solid;
	border-width:0px 10px 10px 0px;
}

#box12 {
	height:60px;
	width:160px;
	background-color:#f2f2f2;
	float:left;
	border-style:solid;
	border-width:0px 10px 10px 0px;
}


#box13 {
	height:140px;
	width:50px;
	background-color:red;
	float:right;
	border-style:solid;
	border-width:10px 0px 0px 10px;
}

#box14 {
	height:100px;
	width:160px;
	background-color:#01102d;
	float:right;
	border-style:solid;
	border-width:0px 0px 10px 10px;
}

#box15 {
	height:60px;
	width:110px;
	background-color:#b6c5d6;
	float:left;
	border-style:solid;
	border-width:0px 0px 10px 0px;
}

#box16 {
	height:40px;
	width:100px;
	background-color:black;
	float:right;


}

#box17 {
	height:80px;
	width:150px;
	background-color:#f2f2f2;
	float:left;
	border-style:solid;
	border-width:0px 10px 0px 0px;


}

#box18 {
	height:80px;
	width:50px;
	background-color:#f79227;
	float:left;
	border-style:solid;
	border-width:0px 10px 0px 0px;


}

#box19 {
	height:40px;
	width:270px;
	background-color:#f2f2f2;
	float:left;
	border-style:solid;
	border-width:0px 0px 0px 0px;


}

